/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Encabezados */
h1 {
    font-size: 3 vw; /* Ajustable */
    color: #6a5acd; /* Gris lavanda vibrante */
    text-transform: uppercase;
    text-shadow: 2 px 2 px 5 px rgba (255, 255, 255, 0.5);
}

h2 {
    font-size: 2 vw;
    color: #d4af37; /* Amarillo pastel */
}

/* Galería */
.gallery {
    margin: 20 px auto;
    max-width: 90 %;
}

/* Contenedor de imágenes */
.image-container {
    display: flex;
    justify-content: center;
    gap: 10 px;
    flex-wrap: wrap;  /* Permite que las imágenes se ajusten en pantallas más pequeñas */
}

/* Imágenes Generales */
.interactive-image {
    width: 30 %; /* Ocupa el 30% de la pantalla en escritorio */
    height: auto; /* Mantiene la proporción */
    border-radius: 10 px;
    transition: transform 0.3 s ease-in-out;
}

.interactive-image:hover {
    transform: scale (1.2); /* Efecto de agrandado */
}

/* Imagen Central (Se amplía más) */
.main-image:hover {
    transform: scale (1.7); /* Se agranda más que las otras */
}
